@media only screen and (max-width:1200px){
    html{
        font-size: 16px;
    }
}

@media only screen and (max-width: 1024px){
    .logo{
        width: 150px;
        margin-left: 40px;
    }
    .main-nav{
        margin-right: 5px;
    }
    .main-nav li{
        margin-right: 10px;
    }
    .heading-main-box{
        transform: translate(-25%,-65%);
    }
    .product-section .btn{
        width: 80%;
    }
    .product-box{
        width: 90%;
    }
}

@media only screen and (max-width: 770px){
        html{
            font-size: 13px;
        }
        .logo{
            width: 100px;
        }
        .main-nav{
            width: 0px;
            opacity: 0;
        }
        h1{
            margin-top: 10px;
            font-size: 30px;
            line-height: 50px;
        }
        
        .heading-main-box{
            transform: translate(-18%,-65%);
            margin-top: 10px;
        }
        header{
            margin-bottom: 50px;
        }
        .product-section .row .span_1_of_3 p{
            font-size: 150%;
        }
        .product-section .row .span_1_of_3 ul li{
            margin-top: 10px;
        }
        .product-section .row .span_1_of_3 .btn{
            font-size: 100%;
            margin-top: 20px;
        }
        .testimonials-section .row .span_1_of_3 blockquote{
            width: 100%;
        }
        .testimonials-section .row .span_1_of_3 blockquote p{
            height: 170px;
        }
}

@media only screen and (max-width: 480px){
    html{
        font-size: 10px;
    }
    h1{
        margin-left: 50px;
        font-size: 200%;
        line-height: 40px;
    }
    .about_section .row .about_picture{
        width: 50%;
    }
    .btn{
        width: 150px;
        font-size: 15px;
        margin-left: 32px;
    }
    .p-long{
        font-size: 130%;
    }
    .testimonials-section .row .span_1_of_3{
        margin-left: 3%;
    }
    .logo-clb{
        width: 90px;
        height: 100px;
    }
}