*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px; /*mac dinh la 16px */
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

/* ----------------------------Header---------------------------------- */

.logo{
    width: 150px;
    float: left;
    margin: 50px;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none; 
    margin-right: 50px;
    margin-top: 30px;
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 0.5s ; /*đọ trể khi hiển thị hết là 0.5s*/
    padding: 3px 0px; /*khoảng cách giữa gạch dưới và botton */
}
.main-nav li {
    display: inline-block; /*hiển thị trên cùng 1 dòng*/
    margin-right: 40px; 
}


.main-nav li a:active, /*khi di chuyển chuột qua*/
.main-nav li a:hover{   /*khi click vào*/
    border-bottom: 5px solid #ffffff; /*tạo đường gạch dưới*/
}

/* ========================RESABLE CONPANION ==================*/

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

h1{
    text-transform: uppercase; /*in hoa*/
    font-size: 250%;    /*cở chữ*/
    font-weight: 110%;  /*độ dày của chữ*/
    letter-spacing: 2px;    /* khoảng cách các kí tự*/
    word-spacing: 7px;  /*khoảng cách các chữ*/
    color: white;   
    line-height: 75px;  /*khoảng cách giữ các hàng*/
    margin-bottom: 30px;
}

h2{
    color: #d35400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-size: 180%;
}
h2::after{
    content: " ";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #f5a36c;
    margin: 0 auto;
    margin-top: 5px;
}
.p-long{
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 30px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
    margin-bottom: 30px;
}

.about-picture img{
    width: 90%;
    border-radius: 20px;  /*cong 4 canh*/
    border: 4px solid #aad4fc;
    box-shadow: 0px 5px 15px 5px #265077;  /*x-y-đọ mờ-độ phóng rộng*/
    /*filter: brightness(65%) blur(2px); /*độ sáng, độ mờ*/
    margin-top: 50px;
}

.picture-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c2e1fd;
    transform: translate(-65% , 200%);
    opacity: 0;
}

.about-picture:hover img,
.about-picture:active img{
    filter: brightness(65%) blur(2px);
    transform: all .7s;
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-65%, 20%);
    opacity: 1;
    transition: all .7s;
}


.btn{
    text-decoration: none; /*nó chịu ảnh hưởng của class row và heading main box nên cho về none rồi xử lí*/
    font-size: 25px;
    color: white;
    padding: 10px 20px;
    background-color: #e67e22;
    border-radius: 30px;  /*tạo góc tròn cho botton*/
    margin: 10px;       
    width: 190px;
    display: inline-block ;  /*thẻ a mặc định hk cho chỉnh wight và height nên chuyển về block*/
    text-align: center;
}

.btn:hover,
.btn:active{
    background-color: #d35400;
}

/* =============================================================== */
header{
    background-image: linear-gradient(45deg,rgba(2, 33, 64,0.8) 50%,rgba(45, 95, 93,0.85)), url("/img/background.jpg"); /*hòa trộn màu*/
    background-size: cover;  /*bao trùm những đoạn html đã code*/
    background-position: center;  /*căng giữa*/
    height: 100vh;
    /* bao trùm 100% màn hình */
    background-attachment: fixed; /*lướt trên background*/
}

/* .row{
    max-width: 1140px;
    margin: 0 auto;
} */

.heading-main-box{
    margin-top: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -65%);  /*lấy điểm gốc chính là chính giữa*/
    width: 1140px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background: center;
}

.about-picture{
      position: relative;
}

.row{
    margin-left: 5%;
    margin-right: 5%;
}

/* ---------------------------product section---------------------*/

.product-section{
    background-color: #f4f4f4;
    margin-top: 80px;
}

.product-section h2{
    margin-bottom: 40px;
}

/* .product-box{
    background-color: #d4d7ff;
    height: 20%;
    width: 25%;
    margin-left: 100px;
} */

.product-section .row .span_1_of_3{
    background-color: #d4d7ff;
    height: 20%;
    width: 25%;
    margin-left: 7%;
}

.product-box h3{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #265077;
    color: white;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.product_price{
    color: #265077;
    font-size: 250%;
    font-weight: 300;
    text-align: center;
}

.product_price span{
    font-size: 80%;
    font-weight: 80;
}

.product-box ul li{
    margin-top: 30px;
    margin-left: 15%;
    list-style: none;
    font-size: 110%;
}

.product-box .btn{
    margin-top: 75px;
    width: 65%;
    margin-left: 10%;
}

.product-box ul li i{
    color: #0c3357;
    margin-right: 10px;
}


.testimonials-section{
    margin-top: 100px;
    background-image:linear-gradient(45deg,rgba(2, 33, 64,0.8) 50%,rgba(45, 95, 93,0.85)), url(/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.testimonials-section h2{
    padding-top: 75px;;
    margin-bottom: 5%;
}

.content blockquote{
    width: 200px;
    line-height: 150%;
    color: white;
    margin-bottom: 5%;
}

.content blockquote p{
    height: 250px;
    text-align: left;
}


.content cite{
    display: block;
    color: #6b95bd;
}

blockquote::before{
    display: block;
    content: '\201C';
    font-size: 300%;
    color: #6b95bd;
    position: absolute;
}

.content blockquote cite img{
    border-radius: 90px;
    vertical-align: middle; /*ten tac gia nam giuaa anh*/
}

.content blockquote cite{
    margin-top: 20px;
}

.sponsors-section{
    background-color: #f4f4f4;
    margin-bottom: 5%;
    margin-top: 5%;
}

.sponsors-section h2{
    margin-bottom: 50px;
}

.sponsors-showcase li{
    list-style: none;
    float: left;
    width: 30%;
    text-align: center;
    margin-left: 2.5%;
    margin-bottom: 20px;
}

.logo-clb{
    width: 140px;
    height: 160px;
    cursor: pointer;
}

.sponsors-showcase li figure:hover,
.sponsors-showcase li figure:active{
    transform: scale(1.1);
    cursor: pointer;
}

figcaption{
    color: #265077;
    font-size: 120%;
    font-weight: 900;
    cursor: pointer;
}

/*-----------------------------*/

/*contact-form*/

.contact-section{
    background-image:linear-gradient(45deg,rgba(2, 33, 64,0.8) 50%,rgba(45, 95, 93,0.85)), url(/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment:fixed ;
}

/*footer*/

footer{
    text-align: center;
    background-color: #494949;
    color: white;
    padding: 20px;
}

.information{
    list-style: none;
    color: white;
    line-height: 200%;
    margin-top: 70px;
    word-spacing: 1px;
    font-size: 95%;
}

.information .small-icon{
    color: #427db4;
}

.information .small-icon:hover,
.information .small-icon:active{
    transform: scale(1.3);
}

.social-icons{
    margin-top: 50px;
    list-style: none;
}

.social-icons li{
    display: inline-block;
    font-size: 250%;
    margin-left: 20px;
    color: white;
}

.social-icons li i{
    transition: all .3s;
    cursor: pointer;
}

.social-icons li i:hover,
.social-icons li i:active{
    transform: scale(1.3);
    color: #e67e22;
}

/*form*/

form{
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 40%;
    width: 60%;
    margin-top: 50px;
    padding: 30px;
}

form .row{
    margin-bottom: 20px;
}

label{
    font-size: 150%;
    color: white;
}

input, textarea{
    outline: none;
    padding: 10px;
    background-color: rgba(48,47,47,0.3);
    border: 1px solid rgba(48,47,47,0.7);
    margin-left: 30px;
    cursor: pointer;
    border-radius: 5px;
}

input[type=text],input[type=email], textarea{
    width:80% ;
    font-size: 100%;
    transition: all .3s;
}

input[type=text]:focus,input[type=email]:focus, textarea:focus{
    background-color: rgba(48,47,47,0.5);
    color: white;

}

textarea{
    resize: none;
    height: 100px;
}
input{
    height: 50px;
}

form .row:last-child{ /*phan tu con cuoi cua row*/
    text-align: center;
}

input[type=submit]{
    font-weight: 700;
    font-size: 100%;
    border-radius: 5px;;
    width: 70%;
}
